.dialog {
  opacity: 0;
  scale: 0.9;
}

.dialog[open] {
  opacity: 1;
  scale: 1;
  animation: show 0.25s ease normal;
}

.dialog[open]::backdrop {
  animation: backdrop-fade 0.25s ease forwards;
}

.dialog.close::backdrop {
  animation: backdrop-fade 0.25s ease backwards;
  animation-direction: reverse;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes backdrop-fade {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(3px);
  }
}
