@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

img {
  width: 100%;
  height: auto;
}

.responsiveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
